<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets"
    id="https://github.com/beam/beam-tv" version="1.0.1" viewmodes="maximized">
    <tizen:application id="b41x9K7qTn.Beam" package="b41x9K7qTn" required_version="6.0"/>
    <content src="tv.html"/>
    <access origin="*" subdomains="true"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icons/icon.png"/>
    <name>Beam</name>
    <tizen:profile name="tv-samsung"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:setting screen-orientation="landscape" context-menu="disable"
        background-support="disable" encryption="disable" install-location="auto"
        hwkey-event="enable"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/prefer.hdscreen" value="true"/>
</widget>
